.btn {
    transition: .3s linear all;
}

.btn:hover {
    transform: scale(1.1);
}
.hur{
    color: black;
    background-color: rgb(216, 112, 14);
    text-align: center;
}

.bg {
    background-color: black;
    height: 100vh;
    text-align: center;
}

label {
    color: yellow;
    font-size: 25px;
}

input {
    width: 300px;
    height: 25px;
    border-radius: 30px;
}

button {
    width: 300px;
    background-color: green;
    border-radius: 30px;
    color: white;
}